Złożonosć algorytmów i ich analiza, w praktryce mamy do czynienia z przxetwarzaniem sporej ilosci danych. Od tego jak je przetwarzamy zalezy od tego jak szybko dostaniemy wynik

In [18]:
import pandas as pd
import numpy as np
import math



n_values = np.arange(10,101,10)


data = {
    '1': np.ones_like(n_values),
    'n': n_values,
    'log(n)': np.log(n_values),
    'n^2': n_values ** 2,
    'n^3': n_values ** 3,
    '2^n': np.power(2,n_values),
    'n!' : [math.factorial(n) for n in n_values]
    }


df = pd.DataFrame(data)

df

,1,n,log(n),n^2,n^3,2^n,n!
0,1,10,2.302585,100,1000,1024,3628800
1,1,20,2.995732,400,8000,1048576,2432902008176640000
2,1,30,3.401197,900,27000,1073741824,265252859812191058636308480000000
3,1,40,3.688879,1600,64000,1099511627776,815915283247897734345611269596115894272000000000
4,1,50,3.912023,2500,125000,1125899906842624,3041409320171337804361260816606476884437764156...
5,1,60,4.094345,3600,216000,1152921504606846976,8320987112741390144276341183223364380754172606...
6,1,70,4.248495,4900,343000,0,1197857166996989179607278372168909873645893814...
7,1,80,4.382027,6400,512000,0,7156945704626380229481153372318653216558465734...
8,1,90,4.499810,8100,729000,0,1485715964481761497309522733620825737885569961...
9,1,100,4.605170,10000,1000000,0,9332621544394415268169923885626670049071596826...

Ocena stopnia złożonośći algorytmu

In [19]:
def silnia(n):
    if n ==0:
        return 1
    else:
        return n * silnia(n-1)
silnia(5)

120

notacja- O(wyraz ktory jest najwiekszy) np O(logn), O(n^2) itd
O(f(n)) * O(g(n)) = O(f(n)*g(n))
nApisz funkcje czy podana liczba znajduje sie w podanej liscie ,

In [20]:

def szukaj(lista,target):
    for i in range(len(lista)):
        if lista[i] == target:
            return i
        
    return -1
        
lista = [0,1,3,4,12,14,16]
target = 16
szukaj(lista,target)

6

jak widzimy petle to komponent n
petla w petli : 0(n^2)

In [21]:
#przeszukiwanuie binarne
def recursive_binary_search(arr,target,left, right):

    if left > right:
        return -1
    
    mid = (left + right) // 2
    if arr[mid] == target:
        return mid
    elif arr[mid] < target:
        return recursive_binary_search(arr, target, mid+1, target)
    else:
        return recursive_binary_search(arr,target, left, mid -1)

In [22]:
tablica = [i for i in range(1,1000000)]

In [23]:
recursive_binary_search(tablica,3,0,9)

2

In [24]:

def binary_search(zbior, s): # zbiór - uporządkowany zbiór liczb, s - wartość szukana
    l = 0 # indeks pierwszego elementu w zbiorze
    p = len(zbior) - 1 # indeks ostatniego elementu w zbiorze
    while l <= p:
        sr = (l + p)//2 # wyznaczamy indeks środkowego elementu zbioru
        if s == zbior[sr]: # jeśli znaleźliśmy szukaną wartość
            return sr
        if s < zbior[sr]: # jeśli szukana wartość jest mniejsza od elementu środkowego
            p = sr - 1 # to ograniczamy przeszukiwanie do zbioru dla indeksów z przedziału [l, sr - 1]
        else: # w przeciwnym razie
            l = sr + 1 # ograniczamy przeszukiwanie do zbioru dla indeksów z przedziału [sr + 1, p]
    return -1 # jeśli nie znaleziono szukanej wartości


zbior = [1, 2, 5, 7, 9, 12, 14, 19] # uporządkowany zbiór liczb
s = 9
if binary_search(zbior, s) == -1:
    print("nie znaleziono liczby", s)
else:
    print("Liczba", s, "znajduje się pod indeksem", binary_search(zbior, s))

Liczba 9 znajduje się pod indeksem 4

In [25]:
from time import time
szukana = 23123
t1= time()
np.searchsorted(tablica,szukana)
t2 = time()
print(f"Zajeło to: {t2-t1}")

Zajeło to: 0.05737042427062988

In [26]:
np.searchsorted(tablica,112)# zbior w numpy do przeszukiwania binarnego

np.int64(111)